body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 90%;
	color: #223344;
	background-color: #F0F0F5;
	padding-top:12px; padding-left:12px; padding-right:12px; padding-bottom:12px;
}
#main_text {
	width: 90%;
	background-color: #FEFEFF;
	border: 2px solid;
	border-color: #8899AA;
	padding-top:2%; padding-left:4%; padding-right:4%; padding-bottom:2%;
}
.header_text {
	color: #447755;
	font-size: 130%;
}
hr {
	color: #99AA88;
	border: 1px dashed;
}
code {
	border: 1px dotted;
	border-color: #112288;
	width: 80%;
	padding-top:1%; padding-left:1%; padding-right:1%; padding-bottom:1%;
	font-family: monospace;
	font-size: 10pt;
	display: block;
}
a { color:#575754; }
